<form #f="ngForm" (ngSubmit)="submit()" class="content-wrapper">
    <fieldset [disabled]="isBlocked">
        <mat-slide-toggle name="hasSubsidy" color="primary" [(ngModel)]="household.hasSubsidy">Є субсидія</mat-slide-toggle>
        <div>
            <h5>Субсидія за послуги</h5>
            <div *ngFor="let u of getConsumedUtilities()">
                <mat-form-field>
                    <input name="price{{u.id}}" matInput [placeholder]="u.name" type="text" [disabled]="!household.hasSubsidy" [(ngModel)]="getConsumedUtilityById(u.id).subsidy" [pattern]="regexService.Decimal" required/>
                    <mat-error>Субсидію вказано невірно</mat-error>
                </mat-form-field>     
            </div>
        </div>
    </fieldset>
    <div class="top-20">
        <button color="primary" mat-raised-button [disabled]="!household.id || isBlocked || (!f.valid && household.hasSubsidy)">Підтвердити</button>
    </div>
</form>


