<div class="col-md-6">
    <h1>Новий користувач</h1>
    <form #f="ngForm" (ngSubmit)="submit()">
        <p>
            {{ user | json }}
        </p>
        <fieldset [disabled]="isBlocked">
            <div>
                <mat-form-field>
                    <input matInput placeholder="Електронна пошта" type="text" name="name"
                           [(ngModel)]="user.email" email required #email="ngModel" />
                    <mat-error>Вкажіть правильну електронну адресу</mat-error>
                </mat-form-field>
            </div>
           <div>
               <mat-form-field>
                   <input matInput placeholder="Пароль" type="password" name="password"
                          [(ngModel)]="user.password" required #password="ngModel" />
                   <mat-error>Вкажіть правильний пароль</mat-error>
               </mat-form-field>
           </div>
            <h2>Ролі</h2>
            <div *ngFor="let r of roles">
                <mat-checkbox id="role{{ r.id }}" (change)="onRoleToggle(r.name, $event)">{{ r.name }}</mat-checkbox>
            </div>
        </fieldset>
        <button class="btn btn-primary" [disabled]="!f.valid || isBlocked">Зберегти</button>
    </form>
</div>