<mat-card>
    <mat-card-header>
        <div mat-card-avatar><mat-icon>lightbulb_outline</mat-icon></div>
        <mat-card-title>Тариф</mat-card-title>
        <mat-card-subtitle>Форма редагування тарифу</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="tariffForm">
            <fieldset>
                <div class="flex-container">
                    <div>
                        <div>
                            <mat-form-field hintLabel="Максимум 250 символів">
                                <input matInput placeholder="Назва тарифу" type="text" formControlName="name" required maxlength="250" #name [(ngModel)]="tariff.name"/>
                                <mat-hint align="end">{{name.value?.length || 0}}/250</mat-hint>
                                <mat-error *ngIf="!tariffForm.controls.name.required">Вкажіть назву тарифу</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Послуга" [(ngModel)]="tariff.providedUtilityId" formControlName="providedUtilityId" required>
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let u of utilities" [value]="u.id">{{ u.name }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!tariffForm.controls.providedUtilityId.valid">Оберіть послугу</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Тип споживача" [(ngModel)]="tariff.consumerTypeId" formControlName="consumerTypeId" required>
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let t of consumerTypes" [value]="t.id">{{ t.name }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!tariffForm.controls.providedUtilityId.valid">Оберіть тип споживача</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="left-20">
                        <fieldset>
                            <div>
                                <mat-form-field hintLabel="Абонплата, якщо є (грн)">
                                    <input matInput placeholder="Абонплата" type="text" formControlName="subscriberFee" #subscriberFee maxlength="10" [(ngModel)]="tariff.subscriberFee" />
                                    <mat-hint align="end">{{subscriberFee.value?.length || 0}}/10</mat-hint>
                                    <mat-error *ngIf="!tariffForm.controls.subscriberFee.valid">Абонплату вказано невірно</mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field hintLabel="Вартість (за максимальний рівень споживання)">
                                    <input matInput placeholder="Вартість" type="text" formControlName="price" #price required maxlength="10" [(ngModel)]="tariff.price" />
                                    <mat-hint align="end">{{price.value?.length || 0}}/10</mat-hint>
                                    <mat-error *ngIf="!tariffForm.controls.price.valid">Вартість вказано невірно</mat-error>
                                </mat-form-field>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div formArrayName="blocks">
                    <div *ngFor="let block of tariffForm.controls.blocks.controls; let i=index">
                        <mat-card class="top-20">
                            <mat-card-content>
                                <div [formGroupName]="i">
                                    <block [block]="tariff.blocks[i]" [group]="tariffForm.controls.blocks.controls[i]" [measure-unit]="getMeasureUnit()"></block>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button type="button" mat-button color="warn" (click)="removeBlock(i)">Видалити</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <div class="top-20">
                    <button type="button" mat-raised-button (click)="addBlock()">
                        Додати блок +
                    </button>
                </div>
            </fieldset>
            <div class="top-20">
                <button color="primary" mat-raised-button [disabled]="!tariffForm.valid || isBlocked" (click)="submit()">Підтвердити</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>