<mat-card>
    <mat-card-header>
        <div mat-card-avatar><mat-icon>security</mat-icon></div>
        <mat-card-title>Змінити пароль</mat-card-title>
        <mat-card-subtitle>Необхідно вказати існуючий пароль</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="top-20">
        <form #f="ngForm" (ngSubmit)="submit()" class="top-20">
            <fieldset [disabled]="isBlocked">
                <div>
                    <mat-form-field hintLabel="Максимум 100 символів">
                        <input matInput placeholder="Пароль" type="password" name="password"
                               [(ngModel)]="changePassword.currentPassword" required #password="ngModel" minlength="6" maxlength="100" [pattern]="regexService.Password" reverse="true" />
                        <mat-hint align="end">{{password.value?.length || 0}}/100</mat-hint>
                        <mat-error *ngIf="password.hasError('required')">Вкажіть пароль</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">Пароль має складатись мінімум з 6 символів</mat-error>
                        <mat-error *ngIf="password.hasError('pattern')">Пароль має містити хоча б одну велику літеру, цифру і спеціальний символ</mat-error>
                    </mat-form-field>
                </div>
                <div class="top-30">
                    <mat-form-field hintLabel="Максимум 100 символів">
                        <input matInput placeholder="Новий пароль" type="password" name="newPassword"
                               [(ngModel)]="changePassword.newPassword" required #newPassword="ngModel" minlength="6" maxlength="100" [pattern]="regexService.Password" validateEqual="confirmPassword" reverse="true" />
                        <mat-hint align="end">{{password.value?.length || 0}}/100</mat-hint>
                        <mat-error *ngIf="newPassword.hasError('required')">Вкажіть пароль</mat-error>
                        <mat-error *ngIf="newPassword.hasError('minlength')">Пароль має складатись мінімум з 6 символів</mat-error>
                        <mat-error *ngIf="newPassword.hasError('pattern')">Пароль має містити хоча б одну велику літеру, цифру і спеціальний символ</mat-error>
                    </mat-form-field>
                </div>
                <div class="top-30">
                    <mat-form-field hintLabel="Максимум 100 символів">
                        <input matInput placeholder="Підтвердження паролю" type="password" name="confirmPassword"
                               [(ngModel)]="changePassword.confirmPassword" required validateEqual="newPassword" maxlength="100" #confirmPassword="ngModel" />
                        <mat-hint align="end">{{confirmPassword.value?.length || 0}}/100</mat-hint>
                        <mat-error *ngIf="confirmPassword.invalid">Паролі не співпадають</mat-error>
                    </mat-form-field>
                </div>
            </fieldset>
            <div class="top-20">
                <button color="primary" mat-raised-button [disabled]="!f.valid || isBlocked">Підтвердити</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
        
