.form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.input-group {
    margin-bottom: 30px;
}

md-input-container, md-select {
    min-width: 250px;
}

md-card {
    padding: 30px 50px;
}

