<form #f="ngForm" (ngSubmit)="submit()">
    <p>
        {{ household | json }}
    </p>
    <fieldset [disabled]="isBlocked">
        <div>
            <mat-form-field>
                <input matInput placeholder="Електронна пошта" type="text" name="email"
                       [(ngModel)]="household.userName" required email />
                <mat-error>Вкажіть правильну електронну адресу</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Площа" type="text" name="area"
                       [(ngModel)]="household.area" required />
                <mat-error>Вкажіть площу помешкання</mat-error>
            </mat-form-field>
        </div>
        <div>
            <h4>Електроенергія</h4>
            <div>
                <mat-checkbox name="has-electric-heating" [(ngModel)]="household.hasElectricHeating">Електроопалювальні прилади</mat-checkbox>
            </div>
            <div>
                <mat-checkbox name="has-electric-hotplates" [(ngModel)]="household.hasElectricHotplates">Електрична плитка</mat-checkbox>
            </div>
        </div>
        <div>
            <h4>Гаряча вода</h4>
            <div>
                <mat-checkbox name="has-towel-rail" [(ngModel)]="household.hasTowelRail">Рушникосушарка</mat-checkbox>
            </div>
        </div>
        <div>
            <h4>Централізоване газопостачання</h4>
            <div>
                <mat-checkbox name="central-gas-supply" [(ngModel)]="household.hasCentralGasSupply">Централізоване газопостачання</mat-checkbox>
            </div>
        </div>
    </fieldset>
    <button color="primary" mat-raised-button [disabled]="!f.valid ||isBlocked">Зберегти</button>
</form>