<div class="dashboard-wrapper">
    <a [routerLink]="['./../utility-bill']">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar><mat-icon>note_add</mat-icon></div>
                <mat-card-title>
                    Створити платіжку
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
    <a [routerLink]="['./../utility-bills']">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar><mat-icon>description</mat-icon></div>
                <mat-card-title>
                    Список платіжок
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
    <a [routerLink]="['./../meter-readings']">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar><mat-icon>assignment</mat-icon></div>
                <mat-card-title>
                    Показники
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
</div>