<form #f="ngForm" (ngSubmit)="submit()">
    <fieldset [disabled]="isBlocked">
        <div>
            <autocomplete placeholder="Область" [item]="address.region" [items]="regions" error="Оберіть область" (itemChanged)="onRegionChanged($event)"></autocomplete>
        </div>
        <div>
            <autocomplete placeholder="Район" [item]="address.district" [items]="districts" error="Оберіть район" (itemChanged)="onDistrictChanged($event)"></autocomplete>
        </div>
        <div>
            <autocomplete placeholder="Населений пункт" [item]="address.locality" [items]="localities" error="Оберіть населений пункт" (itemChanged)="onLocalityChanged($event)"></autocomplete>
        </div>
        <div>
            <autocomplete placeholder="Вулиця" [item]="address.street" [items]="streets" error="Оберіть вулицю" (itemChanged)="onStreetChanged($event)"></autocomplete>
        </div>
        <div>
            <mat-form-field class="short-input">
                <input matInput placeholder="буд." type="text" name="building" [(ngModel)]="address.building" required />
                <mat-error>Вкажіть будинок</mat-error>
            </mat-form-field>
            <mat-form-field class="short-input">
                <input matInput placeholder="кв." type="text" name="appartment" [(ngModel)]="address.appartment" />
            </mat-form-field>
        </div>
    </fieldset>
    <button color="primary" mat-raised-button [disabled]="!f.valid || isBlocked" class="mt-10">Зберегти</button>
</form>