<mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="selectTab($event)">
    <mat-tab label="Список мешканців">
        <occupants-list (onEdit)="editOccupant($event)" (onCreate)="createOccupant()" [occupants]="occupants"></occupants-list>
    </mat-tab>
    <mat-tab label="Форма">
        <occupants-form [occupant]="occupant" [household]="household" [providedUtilities]="providedUtilities" [exemptions]="exemptions" (onSubmit)="occupantsFormSubmit($event)"></occupants-form>
    </mat-tab>
</mat-tab-group>
<hr />