<div class="dashboard-wrapper">
    <a [routerLink]="['./../profile']">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar><mat-icon>subject</mat-icon></div>
                <mat-card-title>
                    Постачальник
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
    <a [routerLink]="['./../tariffs/new']">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar><mat-icon>lightbulb_outline</mat-icon></div>
                <mat-card-title>
                    Управління тарифами
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
    <a [routerLink]="['./../consumers/organizations/new']">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar><mat-icon>domain</mat-icon></div>
                <mat-card-title>
                    Організації
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
    <a [routerLink]="['./../consumers/households/new']">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar><mat-icon>location_city</mat-icon></div>
                <mat-card-title>
                    Домогосподарства
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
</div>