<div class="dashboard-wrapper">
    <a [routerLink]="['./../profile']">
        <md-card>
            <md-card-header>
                <div mat-card-avatar><md-icon>subject</md-icon></div>
                <md-card-title>
                    Профіль
                </md-card-title>
            </md-card-header>
        </md-card>
    </a>
    <a href="#">
        <md-card>
            <md-card-header>
                <div mat-card-avatar><md-icon>lightbulb_outline</md-icon></div>
                <md-card-title>
                    Управління тарифами
                </md-card-title>
            </md-card-header>
        </md-card>
    </a>
    <a href="#">
        <md-card>
            <md-card-header>
                <div mat-card-avatar><md-icon>domain</md-icon></div>
                <md-card-title>
                    Організації
                </md-card-title>
            </md-card-header>
        </md-card>
    </a>
    <a [routerLink]="['./../household/new']">
        <md-card>
            <md-card-header>
                <div mat-card-avatar><md-icon>location_city</md-icon></div>
                <md-card-title>
                    Домогосподарства
                </md-card-title>
            </md-card-header>
        </md-card>
    </a>
</div>