<form #f="ngForm" (ngSubmit)="submit()">
    <fieldset [disabled]="isBlocked">
        <div class="flex-wrapper">
            <div>

                <div>
                    <mat-form-field hintLabel="Максимум 250 символів">
                        <input matInput placeholder="Назва організації" type="text" name="name"
                               [(ngModel)]="organization.organizationName" required #name="ngModel" maxlength="250" [pattern]="regexService.SpacedName" />
                        <mat-hint align="end">{{name.value?.length || 0}}/250</mat-hint>
                        <mat-error *ngIf="name.hasError('required')">Вкажіть назву організації</mat-error>
                        <mat-error *ngIf="name.hasError('pattern')">Назву вказано невірно</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-select placeholder="Категорія" name="consumerCategory" [(ngModel)]="organization.consumerCategory.id" required #consumerCategory="ngModel">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let c of consumerCategories" [value]="c.id">{{ c.name }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="consumerCategory.hasError('required')">Оберіть категорію організації</mat-error>
                    </mat-form-field>
                </div>
                <div class="top-20">
                    <button color="primary" mat-raised-button [disabled]="!f.valid || organization.consumedUtilities.length == 0 || !isValid || isBlocked">Підтвердити</button>
                </div>
            </div>

            <div class="left-20">
                <h5>Послуги</h5>
                <div *ngFor="let u of providedUtilities">
                    <div>
                        <mat-checkbox color="primary" id="utility{{ u.id }}" (change)="onUtilityToggle(u, $event)" [checked]="containsUtilities(u.id)">{{ u.name }}</mat-checkbox>
                    </div>
                </div>
            </div>
            
        </div>
    </fieldset>
</form>