<div class="table-container mat-elevation-z8">
    <h4 class="table-heading">Список користувачів</h4>
    <div class="left-30">
        <mat-form-field>
            <input matInput placeholder="Пошук" type="text" [(ngModel)]="userQuery.search" />
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="submit()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Електронна пошта </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Прізвище </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.lastName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ім'я </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="middleName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> По батькові </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.middleName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="roles">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ролі </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.roles}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> Дії </mat-header-cell>
            <mat-cell *matCellDef="let userData">
                <button mat-icon-button color="primary">
                    <mat-icon aria-label="Редагувати" (click)="edit(userData.id)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon aria-label="Видалити" (click)="delete(userData)">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>


