<div class="table-container mat-elevation-z8">
    <h4 class="table-heading">Список користувачів</h4>
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Електронна пошта </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Прізвище </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.lastName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> Ім'я </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="middleName">
            <mat-header-cell *matHeaderCellDef> По батькові </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.middleName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="roles">
            <mat-header-cell *matHeaderCellDef> Ролі </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.roles}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> Дії </mat-header-cell>
            <mat-cell *matCellDef="let userData">
                <button mat-icon-button color="primary">
                    <mat-icon aria-label="Редагувати" (click)="edit(userData.id)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon aria-label="Видалити" (click)="delete(userData)">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>


