<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" class="app-sidenav">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['./main']">Створити користувача</a>
            <a mat-list-item [routerLink]="['/portal']">Портал користувача</a>
            <a mat-list-item (click)="authService.startSignout()">Вийти</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar class="mat-elevation-z5" color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon class="md-24">menu</mat-icon>
        </button>
    </mat-toolbar>
    <div class="app-content">
        <h1>Портал адміністратора</h1>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>



