<mat-sidenav-container class="all-wrap" fullscreen>
    <mat-sidenav #sidenav mode="side" class="app-sidenav">
        <mat-nav-list>
            <img src="../../../../../wwwroot/images/logo.png" class="menu-logo" />
            <mat-divider></mat-divider>
            <h3 mat-subheader>Управління користувачами</h3>
            <a mat-list-item [routerLink]="['./user-form/new']"><mat-icon>person_add</mat-icon>&nbsp;Створити користувача</a>
            <a mat-list-item [routerLink]="['./user-list']"><mat-icon>people</mat-icon>&nbsp;Список користувачів</a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="authService.startSignout()"><mat-icon>exit_to_app</mat-icon>&nbsp;Вийти</a>
        </mat-nav-list>
    </mat-sidenav>
    <div class="page-wrap">
        <header>
            <mat-toolbar class="mat-elevation-z5" color="primary">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon class="md-24">menu</mat-icon>
                </button>
                <button mat-button [routerLink]="['./user-list']">Портал адміністратора</button>
                <span class="fill-remaining-space"></span>
                <button mat-button [matMenuTriggerFor]="menu">
                    {{authService.getClaims().email}}
                </button>
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item [routerLink]="['./user-profile']"><mat-icon>person</mat-icon>&nbsp;Профіль</button>
                    <button mat-menu-item [routerLink]="['./change-password']"><mat-icon>security</mat-icon>&nbsp;Змінити пароль</button>
                    <button mat-menu-item (click)="authService.startSignout()"><mat-icon>exit_to_app</mat-icon>&nbsp;Вийти</button>
                </mat-menu>
            </mat-toolbar>
        </header>
        <main class="content">
            <div class="body-content">
                <router-outlet></router-outlet>
            </div>
        </main>
        <footer>
            <mat-toolbar color="primary">
            </mat-toolbar>
        </footer>
    </div>
</mat-sidenav-container>



