<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" class="app-sidenav">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['./main']">Портал споживача</a>
            <a mat-list-item [routerLink]="['./more-info']">More Info</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar class="mat-elevation-z5" color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon class="md-24">menu</mat-icon>
        </button>
    </mat-toolbar>
    <div class="app-content">
        <h1>Портал споживача</h1>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
<!--<md-sidenav-container>
    <md-sidenav #sidenav class="sidenav">
        <md-nav-list>
            <a md-list-item (click)="sidenav.close()" [routerLink]="['/']">
                <md-icon md-list-icon>Home</md-icon>
                <span md-line>Home</span>
                <span md-line class="secondary">Home</span>
            </a>
            <a md-list-item (click)="sidenav.close()" [routerLink]="['/categories']">
                <md-icon md-list-icon>list</md-icon>
                <span md-line>Categories</span>
                <span md-line class="secondary">Categories</span>
            </a>
            <a md-list-item (click)="sidenav.close()" [routerLink]="['/tags']">
                <md-icon md-list-icon>bookmark</md-icon>
                <span md-line>Tags</span>
                <span md-line class="secondary">Tags</span>
            </a>
            <a md-list-item (click)="sidenav.close()" [routerLink]="['/questions']">
                <md-icon md-list-icon>question_answer</md-icon>
                <span md-line>Questions</span>
                <span md-line class="secondary">Questions</span>
            </a>
        </md-nav-list>
    </md-sidenav>
    <div class="my-content">
        <md-toolbar [color]="primary">
            <button md-icon-button (click)="sidenav.open()">
                <md-icon>menu</md-icon>
            </button>
            <span>{{title}}</span>
            <span class="fill-remaining-space"></span>
            <span>rwa</span>
        </md-toolbar>
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>-->

<!--<div class="products-area">
    <router-outlet></router-outlet>
</div>-->