

<div class="form-wrapper">
    <mat-card>
        <button (click)="change()">Change</button>
        <mat-horizontal-stepper linear #stepper>
            <mat-step label="Адреса" [stepControl]="addressFormControl">
                <address-form (onSubmit)="submitAddress($event)"></address-form>
            </mat-step>
            <mat-step label="Мешканці">
                <household-form [household]="household" (onSubmit)="submitHousehold($event)"></household-form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>

