@model HCS.OAuth.Models.AccountViewModels.LoggedOutViewModel

<div class="page-header">
    <h1>
        Вихід
        <small>Ви вийшли із веб-додатку</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Натисніть <a href="@Model.PostLogoutRedirectUri">тут</a>, щоб повернутись.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe style="display:none" width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

